
/* CSS pre-processing by {less}. http://lesscss.org/
***************************************************/

// tweak: { "type" : "dropdown", "title" : "Layout", "options" : [ "Left", "Center", "Right" ], "default" : "Center" }

.layout-left .site-container {
  float: left;
}
.layout-center .site-container {
  margin: 0 auto;
}
.layout-right .site-container {
  float: right;
}

// tweak: { "type" : "value", "title" : "Page Width", "min" : 500, "max" : 1400, "target" : ".site-container" }
@pageWidth: 1200px;

// tweak: { "type" : "font", "title" : "Body Font", "target" : "p" }
.body-font {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  letter-spacing: 0em;
  line-height: 1.2em;
  text-transform: none;
}


// tweak: { "type" : "image", "title" : "Profile Avatar", "category" : "header", "target"  : ".profile-avatar" }
.profile-avatar {
  background-image: url('');
  background-size: 75px 75px;
  background-repeat: no-repeat;
  border-radius: 100%;
  float: left;
}



/* General syles
***************************************************/

body {
  .body-font;
}

.site-container {
  line-height: 1.6em;
  color: #777;
  max-width: @pageWidth;
  padding: 6vw;

  h1, h2, h3 {
    font-weight: normal;
    line-height: 1.2em;
  }

  a {
    color: cornflowerblue;

    &.disabled {
      color: #ccc;
    }
  }
}

.site-header {
  margin-bottom: 4vw;
}

.site-navigation { }

.site-navigation-list {
  padding: 0;
}

.site-navigation-item {
  display: inline-block;
  font-size: 87.5%;

  & + .site-navigation-item {
    margin-left: 1em;
  }

  a {
    color: #111;
    text-decoration: none;

    &:hover {
      color: #999;
    }
  }

  &.active-link > a {
    color: #999;
  }

}

.content-container { }

.site-footer {
  font-size: 75%;
  margin-top: 4vw;
  margin-bottom: 4vw;
}

// tweak: { "type" : "font", "title" : "Title Font", "target" : ".site-title-link" }
.site-title-link {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  letter-spacing: 0em;
  line-height: 1.2em;
  text-transform: none;
  text-decoration: none;
}

// tweak: { "type" : "font", "title" : "Tagline Font", "target" : ".site-tagline" }
.site-tagline {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  letter-spacing: 0em;
  line-height: 1.2em;
  text-transform: none;
}

.site-title-heading {
  margin-left: 15px;
}


/* Homepage
***************************************************/

body.homepage { }



/* Blog list
***************************************************/

body.collection-type-blog.view-list {

  .blog-list-item + .blog-list-item {
    margin-top: 3vw;
  }
}



/* Break grid and stack blocks on small screens
***************************************************/

@media screen and (max-width: 640px) {
  @import 'sqs-grid-breaker';
}


